
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(85deg ,rgb(231, 82, 169),rgb(124, 231, 36)) ;
}
.container{
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(85deg ,rgb(231, 82, 169),rgb(124, 231, 36)) ;

}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin-bottom: 15px;
    margin: 20px 0 12px 0 ;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.user-details .input-box input{
    height: 45px; 
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #d81414;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3s ease;
}
.user-details .input-box input :focus,
.user-details .input-box input :valid {
    border-color: #5ee775;

}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 400;

}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;

}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 16px;
    width: 16px;
    background: rgb(216, 229, 230);
    border-radius: 100%;
    margin-right: 12px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked~ .category label .one,
#dot-2:checked~ .category label .two,
#dot-3:checked~ .category label .three{
    border-color: #5ee775;
    background: #1c30e6;

}
form input[type="radio"]{
    display: none;
}
form .button{
    margin: 45px;
    height: 45px 0;
}
form .button input{
    height: 8%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #fff;
    background:linear-gradient(85deg ,rgb(231, 82, 169),rgb(124, 231, 36)) ;
}    
form .button input:hover{
    background:linear-gradient(85deg ,rgb(231, 82, 169),rgb(124, 231, 36)) ;
}
    @media (max-width : 500) {
        .container{
            max-width: 100%;
        }
        form .user-details .input-box{
            margin-bottom: 15px;
            margin: 20px 0 12px 0 ;
            width:100%;
        }
        form .gender-details .category{
            width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y:scroll ;
    }
    .user-details ::-webkit-scrollbar{
        width: 0;
    }
}


















































